#contact iframe {
	width: 100%;
}

.contact_1 h3 {
	display: inline;
}

.contact_1 a {
	text-shadow: none;
}

input {
	background: grey
}

.travel_main_div {
	border: 1px solid turquoise;
	padding-left: 0px;
	padding-right: 0px;
	float: none;
}

.travel_main_div img {
	width: 100%;
}

.travel_main_div hr {
	width: 230px;
}

.travel_main_div h5,
.travel_main_div p {
	margin-left: 20px;
}

.movie_head {
	font-size: 20px;
	width: 100%;
	padding: 6px 22px;
	border-radius: 10px;
	margin-bottom: 15px;
	display: inline-block;
}

.movie_head i {
	float: right;

}

.movie_text span {
	color: darkturquoise
}

.environment_li {
	margin-top: 13px;

}

.environment_li h4 {
	border-bottom: 1px solid white;
	padding: 8px;
}

.environment_li img {
	border-radius: 25px;

}

.environment_li p {
	margin-top: 10px;
}

.quote {
	line-height: 2;
}

.book {
	cursor: pointer;
}

.book hr {
	margin-bottom: 10px;
}

.modal-content {
	margin-top: 100px
}

.modal-body {
	text-align: center;
}

.img_modal {
	display: inline-block;
}

.p-modal {
	margin-top: 10px;
}
